<div class="border-4 border-gray-400 bg-gray-400 rounded-lg m-4 h-64 w-64
            transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
  <a [routerLink]="['tile']">
    <img alt="nasa logo tile" class="w-full h-full rounded-lg" [src]="imageURL">
    <div class="flex flex-col justify-center bg-gray-800 duration-300 ease-in-out opacity-0 hover:opacity-75 text-gray-100 w-full h-full p-4 rounded-lg
            absolute bottom-0 left-0 capitalize text-center">{{ imageDescription }}</div>
  </a>
</div>
